<%text>
<div class="control-group">
    <label class="control-label" for="edit-service">
        <span class="red">*</span> Service
    </label>
    <div class="controls">
        <input type="text" id="edit-service" {{bind-attr value="service"}} {{action "checkEmptiness" on="change"}}/>
        <span class="help-block" style="display: none;">This field is required</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="edit-account">Account</label>
    <div class="controls">
        <input type="text" id="edit-account" {{bind-attr value="account"}}/>
    </div>
</div>

{{view Yith.SecretGroup}}

<div class="control-group">
    <div class="controls form-inline">
        <label class="checkbox">
            <input type="checkbox" id="edit-enable-expiration" {{bind-attr checked="expirationActive"}} {{action "expirationToggle" on="change"}} /> Expirate in
        </label> <input type="number" id="edit-expiration" class="input-mini" min="0" {{bind-attr disabled="expirationDisabled"}} {{bind-attr value="daysLeft"}} /> days
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="edit-tags">Tags</label>
    <div class="controls">
        {{view Yith.TagsInput}}
        <ul>
            {{#each tag in provisionalTags}}
                <li>{{tag}} <i class="fa fa-times pointer" {{action "removeTag" tag}}></i></li>
            {{/each}}
        </ul>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="edit-notes">Notes</label>
    <div class="controls">
        {{view Ember.TextArea id="edit-notes" class="input-xlarge" rows="3" valueBinding="notes"}}
    </div>
</div>
</%text>
