<%text>
<div class="row" id="top-bar">
    <div class="span3">
        {{#link-to 'passwords.new' class="btn"}}<i class="fa fa-plus"></i> Add new password{{/link-to}}
    </div>
    <div class="span9"><div class="pull-right">
        {{#view Yith.DisableCountdownButton}}Disable countdown{{/view}}
        {{#view Yith.RememberMasterButton}}Remember master password{{/view}}
        {{#view Yith.ShowAdvancedButton}}<i class="fa fa-wrench"></i> Show advanced options{{/view}}
    </div></div>
</div>
<div id="advanced-options" class="hide">
    <div class="span12"><div class="well nomb">
        <div class="row">
            <div class="span5 alert alert-info nomb">
                <p>We use cookies to collect anonymous statistics
                about the usage of Yith Library to help us improve.
                You can choose to allow this or not:</p>
                {{#view Yith.ServerPreferencesButton}}Open preferences{{/view}}
            </div>
            <div id="settingsRight" class="span5">
                <p>{{#view Yith.ChangeMasterButton}}Change master password{{/view}}</p>
                <b>Password generation</b>
                <div class="row">
                    <div class="span3">
                        <label class="checkbox">
                            {{view Ember.Checkbox checkedBinding="Yith.settings.passGenUseSymbols"}} Use symbols
                        </label>
                        <label class="checkbox">
                            {{view Ember.Checkbox checkedBinding="Yith.settings.passGenUseNumbers"}} Use numbers
                        </label>
                        <label class="checkbox">
                            {{view Ember.Checkbox checkedBinding="Yith.settings.passGenUseChars"}} Use characters
                        </label>
                    </div>
                    <div class="span2">
                        <label>Password length</label>
                        {{view Yith.PasswordLengthInput}}
                    </div>
                </div>
            </div>
        </div>
    </div></div>
</div>
<div id="tags-and-filters">
    {{#if allTags.length}}
        <b>All tags (filter by):</b>
        <ul id="tag-list" class="unstyled">
            {{#each allTags}}
                <li>{{#view Yith.TagButton}}{{this}}{{/view}}</li>
            {{/each}}
        </ul>
    {{/if}}
    {{#if activeFilters.length}}
        <div id="filter">
            <b>Active filters:</b>
            {{#each activeFilters}}
                {{#view Yith.FilterButton}}<i class="fa fa-times"></i> {{this}}{{/view}}
            {{/each}}
        </div>
    {{/if}}
</div>
<div class="row password-list">
{{#if content}}
    <div class="span12">
        <table class="table table-striped passwords">
        <thead>
            <tr>
                <th>Service</th>
                <th>Account</th>
                <th>Tags</th>
                <th>Expiration</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each pass in processedPasswordList}}
                <tr>
                    <td>
                        {{#view Yith.ServiceButton}}{{pass.service}}{{/view}}
                        <input type="text" style="display: none;" class="unambiguous input-xlarge" /> <span style="display: none;" ></span><i style="display: none;" class="pointer fa fa-times" ></i>
                    </td>
                    <td>{{pass.account}}</td>
                    <td>{{#each pass.tags}}
                        {{#view Yith.TagButton}}{{this}}{{/view}}
                    {{/each}}</td>
                    <td>
                        {{#if pass.expiration}}
                            <span {{bind-attr class="expirationClass"}}>{{pass.daysLeft}}</span>
                        {{else}}
                            <span class="badge">Never</span>
                        {{/if}}
                    </td>
                    <td>
                        {{#view Yith.NotesButton}}<i class="fa fa-exclamation"></i> Notes{{/view}}
                    </td>
                    <td>
                        {{#link-to 'passwords.edit' pass class="btn btn-warning"}}<i class="fa fa-pencil-square-o"></i> Edit{{/link-to}}
                    </td>
                </tr>
            {{/each}}
        </tbody>
        </table>
    </div>
{{else}}
    <div class="span6 offset3">
        <div class="alert alert-info">
            <h3>No passwords stored yet</h3>
            <p>Please, add a password using the button.</p>
        </div>
    </div>
{{/if}}
</div>
</%text>
